apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
spec:
  selector:
    matchLabels:
      app: todo
  replicas: 2
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: todo
        image: rinnguyen7117/todo:0.0.2
        ports:
        - containerPort: 8000
